<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNSZM80t9W0vNXU8K_4_rmx4rc01XaaB4</string>
	<key>GCM_SENDER_ID</key>
	<string>449895299112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sophieMessengerApp</string>
	<key>PROJECT_ID</key>
	<string>sophie-messengerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sophie-messengerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449895299112:ios:fe65d2ccbe01411cd51d1d</string>
</dict>
</plist>